
<head>
	<meta charset="UTF-8">
	<title>Tutorial</title>
	<link rel="stylesheet" href="styles/reset.css">
	<link rel="stylesheet" href="styles/tutorial.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway:800,400' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".tutorial_intro_following_message").hide();
			$("#tutorial_go_button").hide();
			$("#tutorial_step1").hide();
			$("#tutorial_step2").hide();
			$("#demo_1").hide();
			$("#demo_2").hide();
			$("#demopic_1").hide();
			$("#redbox_1").hide();
			$("#greenbox_1").hide();
			$("#greenbox_2").hide();
			$("#orangebox_1").hide();
			$("#blackbox_1").hide();
			$("#instruction_black").hide();
			$("#instruction_orange").hide();
			$("#instruction_red").hide();
			$("#instruction_green").hide();
			$("#tutorial_last_message").hide();
			$("#tutorial_intro_message_welcome").delay(200).animate({marginLeft:"+250px", opacity: "1"}, 'slow');
			$(".tutorial_intro_following_message").delay(750).animate({height:"show", opacity:"1"}, 'slow');
			$("#tutorial_go_button").delay(1500).animate({opacity:"show"}, 'slow');

			$("#tutorial_go_button").click(function(){
				$(this).fadeOut();
				$("#tutorial_intro_message_welcome").fadeOut();
				$(".tutorial_intro_following_message").fadeOut();

				$("#tutorial_step1").delay(800).animate({height:"show"}, 'slow');
				$("#demo_1").delay(1500).animate({height:'show',top:'+300px'}, 1000, 'easeOutBounce');
				$("#demo_2").delay(2000).animate({height:"show", top:'+300px'}, 1000, 'easeOutBounce');
			});

			$("#demo_1").click(function(){
				$("#tutorial_step1").fadeOut();
				$("#demo_2").fadeOut();
				$(this).delay(100).hide('explode', {pieces:20}, 400);
				$("#tutorial_step2").delay(700).fadeIn().delay(1250).animate({marginLeft:'-500px'}).fadeOut();
				$("#demopic_1").delay(3000).animate({width:"show", marginLeft:'+225px'});
				$("#redbox_1").delay(4200).animate({width:"show",left:"+370px"});
				$("#instruction_red").delay(5000).fadeIn();
			});

			$("#redbox_1").click(function(){
				$(this).fadeOut();
				$("#instruction_red").fadeOut();
				$("#greenbox_1").delay(500).fadeIn();
				$("#instruction_green").delay(500).fadeIn();
				$("#greenbox_2").delay(800).fadeIn();
			});

			$("#greenbox_1").click(function(){
				$(this).fadeOut();
				$("#greenbox_2").fadeOut();
				$("#instruction_green").fadeOut();
				$("#instruction_orange").delay(500).fadeIn();
				$("#orangebox_1").delay(500).fadeIn();
			});

			$("#orangebox_1").click(function(){
				$(this).fadeOut();
				$("#instruction_orange").fadeOut();
				$("#blackbox_1").delay(500).fadeIn();
				$("#instruction_black").delay(500).fadeIn();
			});

			$("#blackbox_1").click(function(){
				$(this).fadeOut();
				$("#instruction_black").fadeOut();
				$("#demopic_1").fadeOut('slow');
				$("#tutorial_last_message").delay(900).fadeIn('slow');
			});



		

		});
	</script>
</head>
<body>
	<div id="tutorial_mastercontainer">
		<header>
			<h1>Mach Mail</h1>
			<nav>
				<ul>
					<li>About Mail</li>
					<li>Features</li>
					<li>Get the App</li>
					<li>Help</li>
				</ul>
			</nav>
		</header>
		<div id="tutorial_mainbody">
			<div id="tutorial_intro_message">
				<h1 id="tutorial_intro_message_welcome">Welcome to Mach Mail</h1>
				<p class="tutorial_intro_following_message">This tutorial will help get you started</p>
				<br>
				<p class="tutorial_intro_following_message">Follow the directions and you'll be slacking in no time!</p>
				<br>
				<br>
				<p class="tutorial_intro_following_message">Are you ready?</p>
				<br>
				<br>
				<h3 id="tutorial_go_button">Go!</h3>
			</div>
			<div>
				<div id="tutorial_step1">
					<h2>After signing up, you'll have the option to </h2>
					<h2>choose which template to use ...</h2>
				</div>
				<img id="demo_1" src="/images/demo1.png" alt="">
				<img id="demo_2" src="/images/demo2.png" alt="">
			</div>
			<div>
				<div id="tutorial_step2">
					<h2>Congrats on choosing MachLook!</h2>
					<h2>Lets get started</h2>
				</div>
				<div id="instruction_red">
					<p>Click on a news outlet</p>
					<p>to show their articles</p>
					<p>in the 'main inbox'</p>
					<br>
					<br>
					<p style="font-weight: 600">Click on an article in</p>
					<p style="font-weight: 600">the red box to continue!</p>
				</div>
				<img id="demopic_1" src="/images/demo1.png" alt="">
				<div id="redbox_1"></div>
				<div id="greenbox_1"></div>
				<div id="greenbox_2"></div>
				<div id="instruction_green">
					<p>Your "email" is shown here</p>
					<br>
					<p>Clicking the star hides your article!</p>
					<br>
					<br>
					<p>Show article pictures by</p>
					<p>clicking on the image buttton</p>
					<br>
					<br>
					<p style="font-weight: 600">Click the article green box to continue</p>
				</div>
				<div id="orangebox_1"></div>
				<div id="instruction_orange">
					<p>If the star panic button </p>
					<p>isn't enough, try the</p>
					<p>inivisible button located</p>
					<p>in the orange box!</p>
					<br>
					<br>
					<p>Using this panic is irreversible!</p>
					<br>
					<p>The page must be refreshed before </p>
					<p>you continue slacking!</p>
					<br>
					<br>
					<p style="font-weight: 600">Click the secret orange</p>
					<p style="font-weight: 600">box to continue!</p>
				</div>
				<div id="blackbox_1"></div>
				<div id="instruction_black">
					<p>Finally, the window button</p>
					<p>toggles your menu</p>
					<br>
					<p>Here you can switch templates, </p>
					<p>update and sign out!</p>
					<br>
					<br>
					<p style="font-weight: 600">Click the black window box </p>
					<p style="font-weight: 600">to finish the tutorial!</p>
				</div>
				<div id="tutorial_last_message">
					<a href="machlook"><h1>Let the slacking begin...</h1></a>
				</div>
			</div>	
		</div>
		<footer align="center">
			<h5>Terms</h5>
			<h5>|</h5>
			<h5>Privacy</h5>
		</footer>
	</div>
</body>
