<div id="showup" >

<h3><%= @title %> </h3>
<%= "<i id='photoTrigger' class='fa fa-picture-o fa-lg'></i>".html_safe   %>
<%= "<img id='showupimg' src='#{@image}'>".html_safe   %>

<p> <%= @text %> </p>

</div>

<script> 
$("#showupimg").hide()
$("#photoTrigger").click( function(){
	$("#showupimg").slideToggle();
});

$("#remove").on("click", function(){
        $("#showup").remove();
        $("#inbox").show();
      });
$("figure").remove();

</script>