<div id='showup' >
<h4 id="remove">X</h4>
<hr>
<h3><%= @title %> </h3>
<h5>From: Jonathan Doe</h5>
<h5>To: You, Joe, Jen, James, Janice</h5>
<hr>
<div class="emailIcons"><i class="fa fa-reply"></i> <i class="fa fa-reply-all"></i> <i class="fa fa-share"></i> <i class="fa fa-print"></i> <i class="fa fa-trash-o"></i></div>
<hr>
<%= "<i id='photoTrigger' class='fa fa-picture-o fa-lg'></i>".html_safe   %>
<%= "<div class='articleImageShow'><img  src='#{@image}'></div>".html_safe   %>
<p><%= @text %>
</p>
</div>

<script> 
$(".articleImageShow").hide()
$("#photoTrigger").click( function(){
	$(".articleImageShow").slideToggle();
});

$("#remove").on("click", function(){
        $("#showup").remove();
        $("#inbox").show();
      });
</script>