<div id='showup' >
<h3><%= @title %> </h3>
<h5>From: Jonathan Doe</h5>
<h5>To: You, Joe, Jen, James, Janice</h5>
<hr>
<%= "<img src='#{@image}' style='width:120px; height:150px' >".html_safe   %>
<p><%= @text %>
</p>
</div>              