
<head>
	<meta charset="UTF-8">
	<title>Outlook</title>
	
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<script>
  		$(document).ready(function(){
  			// $(".article_source_dropdown").hide();

  			$("#reddit_button").click(function(){
  				if ($("#reddit_articles").is(':hidden')) {
  					$("#reddit_articles").animate({height:"show"},'slow');
  					$("#reddit_arrow").css({WebkitTransform: 'rotate(' + 90 + 'deg)'})}
  				else {
  					$("#reddit_articles").animate({height:"hide"});
  					$("#reddit_arrow").css({WebkitTransform: 'rotate(' + 0 + 'deg)'})}
  			});
  			
  			$("#mashable_button").click(function(){
  				if ($("#mashable_articles").is(':hidden')) {
  					$("#mashable_articles").animate({height:"show"});
  					$("#mashable_arrow").css({WebkitTransform: 'rotate(' + 90 + 'deg)'})}
  				else {
  					$("#mashable_articles").animate({height:"hide"});
  					$("#mashable_arrow").css({WebkitTransform: 'rotate(' + 0 + 'deg)'})}
  			});


  			$("#bookmarks_nav_dropdown").hide();
			if($("#bookmarks_nav_dropdown").is(':hidden')){
				$("#bookmarks_nav_button").click(function(){
				$("#filter_nav_dropdown").hide();	
				$("#bookmarks_nav_dropdown").slideToggle();
				});
			};
			$("#bookmarks_nav_dropdown").mouseleave(function(){
				$(this).hide()});

			// $("#filter_nav_dropdown").hide();
			// $("#filter_nav_button").mouseenter(function(){
			// 	$("#bookmarks_nav_dropdown").hide()
			// 	$("#filter_nav_dropdown").animate({height:"show"});
			// });
			// $("#filter_nav_dropdown").mouseleave(function(){
			// 	$(this).hide()});

			// if($("#bookmarks_nav_dropdown").is(':visible')){
			// 	$("#filter_nav_dropdown").hide()};

			if($("#filter_nav_dropdown").is(':visible')){
				$("#bookmarks_nav_dropdown").hide()};
			
			
			
  			$("#panic_box").mouseenter(function(){
  				$("#outlook_maincontainer").fadeOut();
  				$("#blackscreen").fadeIn();
  				// $(body).addClass("panic_box_cursor");
  			});

  			$("#star").click(function(){
  				$("#showup").slideToggle();
  			})
  		});
  	</script>
  	
</head>
<body id="panic_box_cursor">
<div id="blackscreen"></div>
<div id="panic_box"></div>
	<div id="outlook_maincontainer">
		<div id="outlook_topbar">
			<img src="/images/outlook_topbar.png" alt="">
			<div id="bookmarks_nav_button"></div>
			<div id="bookmarks_nav_dropdown">
				<ul>
					<li><a href="machmail">Switch Template</a></li>
					<li><a href="/users/edit">Edit Profile</a></li>
					<li><a href="homepage">Tutorial</a></li>
					<li><a href="/sign_out"><%= link_to "Log Out", destroy_user_session_path, method: "delete" %></a></li>
				</ul>
			</div>
			<!-- <div id="filter_nav_button"></div>
			<div id="filter_nav_dropdown">
				<ul>
					<li>test</li>
					<li>test5</li>
					<li>test6</li>
				</ul>
			</div> -->
		</div>
		<div id="outlook_mainbody_container">
			<div id="outlook_left_emailfolders">
				<img src="/images/outlook_leftbar.png" alt="">
			</div>
			<div id="outlook_email_inbox_list">
				<div>
					<div class="email_article_source" id="mashable_button">
						<img id="mashable_arrow" src="/images/arrow.png" alt="">
						<a href="/home/machlook/wired"><h3>Wired</h3></a>
					</div>	
					<div class="article_source_dropdown" id="mashable_articles">
						<ul>
							
						</ul>
					</div>
				</div>
				<div>
					<div class="email_article_source" id="mashable_button">
						<img id="mashable_arrow" src="/images/arrow.png" alt="">
						<a href="/home/machlook/nyt"><h3>New York Times</h3></a>
					</div>	
					<div class="article_source_dropdown" id="mashable_articles">
						<ul>
							
						</ul>
					</div>
				</div>
				<div>
					<div class="email_article_source" id="mashable_button">
						<img id="mashable_arrow" src="/images/arrow.png" alt="">
						<a href="/home/machlook/bloomberg"><h3>Bloomberg</h3></a>
					</div>	
					<div class="article_source_dropdown" id="mashable_articles">
						<ul>
							
						</ul>
					</div>
				</div>
				<div>
					<div class="email_article_source" id="mashable_button">
						<img id="mashable_arrow" src="/images/arrow.png" alt="">
						<a href="/home/machlook/npr"><h3>NPR</h3></a>
					</div>	
					<div class="article_source_dropdown" id="mashable_articles">
						<ul>
							
						</ul>
					</div>
				</div>
				<div>
					<div class="email_article_source" id="mashable_button">
						<img id="mashable_arrow" src="/images/arrow.png" alt="">
						<a href="/home/machlook/huffP"><h3>Huffington Post</h3></a>
					</div>	
					<div class="article_source_dropdown" id="mashable_articles">
						<ul>
							
						</ul>
					</div>
				</div>
				<div>
					<div class="email_article_source" id="reddit_button">
						<img id="reddit_arrow" src="/images/arrow.png" alt=""><h3>Main Inbox</h3>
					</div>	
					<div class="article_source_dropdown" id="reddit_articles">
						<ul>
						    <% i = 0 %>
							<% @articles.each do |art| %>
							<% if art != "" && art[0..3] != "More" %>
							<%= "<li id='art_#{i}' class='articles'> <h5> #{art} </h5> </li>".html_safe %>
							<% end %>
							<% i += 1 %>
							<% end %>
						</ul>
					</div>
				</div>
				
			</div>
			<div id="outlook_mainbody_content">
				<div id="outlook_email_topbar">
					<h2>TITLE GOES HERE</h2>
					<img id="star"src="/images/star.png" alt="">
					<h3>Reddit</h3>
					<h4>Sent: <%= @user.email.split("@")[0] %>@machmail.com</h4>
					<% fullname = "#{@user.fname} " + "#{@user.lname}"%>
					<h4>To: <%= fullname %></h4>
					
				</div>
				<div id="outlook_email_body">
					
					

				</div>
			</div>
		</div>
		<div id="outlook_bottombar">
			<img src="/images/outlook_bottombar.png" alt="">
		</div>
	</div>
</body>
</html>