
<head>
	<meta charset="UTF-8">
	<title>Outlook</title>
	
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<script>
  		$(document).ready(function(){
  			$(".article_source_dropdown").hide();

  			$("#reddit_button").click(function(){
  				if ($("#reddit_articles").is(':hidden')) {
  					$("#reddit_articles").animate({height:"show"});
  					$("#reddit_arrow").css({WebkitTransform: 'rotate(' + 90 + 'deg)'})}
  				else {
  					$("#reddit_articles").animate({height:"hide"});
  					$("#reddit_arrow").css({WebkitTransform: 'rotate(' + 0 + 'deg)'})}
  			});
  			
  			$("#mashable_button").click(function(){
  				if ($("#mashable_articles").is(':hidden')) {
  					$("#mashable_articles").animate({height:"show"});
  					$("#mashable_arrow").css({WebkitTransform: 'rotate(' + 90 + 'deg)'})}
  				else {
  					$("#mashable_articles").animate({height:"hide"});
  					$("#mashable_arrow").css({WebkitTransform: 'rotate(' + 0 + 'deg)'})}
  			});


  			$("#bookmarks_nav_dropdown").hide();
			if($("#bookmarks_nav_dropdown").is(':hidden')){
				$("#bookmarks_nav_button").mouseenter(function(){
				$("#filter_nav_dropdown").hide();	
				$("#bookmarks_nav_dropdown").animate({height:"show"});
				});
			};
			$("#bookmarks_nav_dropdown").mouseleave(function(){
				$(this).hide()});

			$("#filter_nav_dropdown").hide();
			$("#filter_nav_button").mouseenter(function(){
				$("#bookmarks_nav_dropdown").hide()
				$("#filter_nav_dropdown").animate({height:"show"});
			});
			$("#filter_nav_dropdown").mouseleave(function(){
				$(this).hide()});

			// if($("#bookmarks_nav_dropdown").is(':visible')){
			// 	$("#filter_nav_dropdown").hide()};

			if($("#filter_nav_dropdown").is(':visible')){
				$("#bookmarks_nav_dropdown").hide()};
			
			
			
  			$("#panic_box").mouseenter(function(){
  				$("#outlook_maincontainer").fadeOut();
  				// $(body).addClass("panic_box_cursor");
  			});
  		});
  	</script>
  	
</head>
<body id="panic_box_cursor">
<div id="panic_box"></div>
	<div id="outlook_maincontainer">
		<div id="outlook_topbar">
			<img src="/images/outlook_topbar.png" alt="">
			<!-- <div id="bookmarks_nav_button"></div>
			<div id="bookmarks_nav_dropdown">
				<ul>
					<li>test</li>
					<li>test2</li>
					<li>test3</li>
				</ul>
			</div>
			<div id="filter_nav_button"></div>
			<div id="filter_nav_dropdown">
				<ul>
					<li>test</li>
					<li>test5</li>
					<li>test6</li>
				</ul>
			</div> -->
		</div>
		<div id="outlook_mainbody_container">
			<div id="outlook_left_emailfolders">
				<img src="/images/outlook_leftbar.png" alt="">
			</div>
			<div id="outlook_email_inbox_list">
				<div>
					<div class="email_article_source" id="reddit_button">
						<img id="arrow" src="/images/arrow.png" alt=""><h3>Huff Post</h3>
					</div>	
					<div class="article_source_dropdown" id="reddit_articles">
						<ul>
						    <% i = 0 %>
							<% @articles.each do |art| %>
							<% if art != "" && art[0..3] != "More" %>
							<%= "<li id='art_#{i}' class='articles'> <h5> #{art} </h5> </li>".html_safe %>
							<% end %>
							<% i += 1 %>
							<% end %>
						</ul>
					</div>
				</div>
				<div>
					<div class="email_article_source" id="mashable_button">
						<img id="mashable_arrow" src="/images/arrow.png" alt="">
						<h3>MASHABLE</h3>
					</div>	
					<div class="article_source_dropdown" id="mashable_articles">
						<ul>
							<li>
								<h5>Fake Mashable Article Title</h5>
								<h6>New</h6>
							</li>
							<li>
								<h5>Another Fake Mashable Article Title</h5>
								<h6>Trending</h6>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="outlook_mainbody_content">
				<div id="outlook_email_topbar">
					<h2>This is a test title</h2>
					<a href=""><img src="/images/star.png" alt=""></a>
					<h3>Reddit</h3>
					<h4>Sent: TEST TEST</h4>
					<h4>To: TEST</h4>
					
				</div>
				<div id="outlook_email_body">
					
					

				</div>
			</div>
		</div>
		<div id="outlook_bottombar">
			<img src="/images/outlook_bottombar.png" alt="">
		</div>
	</div>
</body>
</html>