html, body {

}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway';
	text-transform: uppercase;
}

h3 {
	font-size: 16pt;
}

td {
	overflow-x: hidden;
}

hr {
	height: 1px;
	background-color: #dddddd;
	margin: 12px 0;
}

td:hover {
	cursor:pointer;
}

.tableHeader{
	font-weight: 600;
	padding: 0;
	margin: 0 0 2px 0;
	font-size: 11pt;
}

.form-control, .btn-default {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

input[type="checkbox"]:focus {
	outline:none;
}

.myCheckbox {
	-webkit-appearance: none;
	border: 1px solid #dddddd;
	background-color: #e8e8e8;
	height:13px;
	width:13px;
}

.myCheckbox:checked {
	-webkit-appearance: none;
	border: 1px solid #dddddd;
	background-color: #666;
	outline:none;
}

#mailboxTools {
	overflow: auto;
	padding-bottom: 20px;
	border-bottom: 2px solid #dddddd;
}

.buttonWrapper {
	margin-right: 4%;
	float: left;
}

.buttonWrapper p{
	display: inline-block;
}

.btn-default {
	display: inline-block;
	border: 1px solid #dddddd;
	background-color: #e8e8e8;
	font-weight: bold;
	cursor: default;
}

#filter {
	float: right;
	width: 40%;
}

#filterBar {
	width:100%;
	outline:none;
	box-shadow: none;
	padding: 4px;
	border: 1px solid #dddddd;
	cursor: default;
}

#filterBar:focus, #filterBar:hover {
	outline:none;
	border-color:#adadad;
}

.dropdownTitle, .dropdownItem {
	cursor: pointer;
}

.dropdownItem {
	list-style: none;
	line-height: 22pt;
}

.nav-sidebar > li {
  padding-right: 20px;
  padding-left: 20px;
  line-height: 22pt;
  font-weight: bold;
}

.nav > .nav-sidebar > ul {
	border-bottom: 1px solid gray;
}

.navbar {
	font-family: 'Raleway';
}

#articleBody {
	word-wrap:break;
	white-space: normal;
}

#articleBody h3 {
	font-size: 14pt;
	font-weight: 600;
	text-transform: none;
	/*border-bottom: 1px solid #dddddd;*/
	margin: 8px 0;
/*	padding: 8px 0;*/
	display: inline-block;
	float: left;
}

.emailIcons {
	display: inline-block;
	float: right;
	padding-top: 5px;
}

#articleBody .fa {
 	padding-left: 5px;
 }

#articleBody h5 {
	color: gray;
	font-size: 11pt;
	font-weight: 600;
	text-transform: none;
	margin: 0 0 6px 0;
	clear: both;
}


@media (min-width: 768px) {
  .sidebar {
    top: 35px;
    padding-left: 25px;
  }
}

@media (max-width: 990px) {
  .sidebar {
    top: 35px;
    padding-left: 25px;
  }
	#filter {
	clear: both;
	width: 100%;
	margin-top: 15px;
	}
	#nextEmails {
		float: right;
	}
}



  



